<!-- <nav class="fixed">
  <ul>
    <li class="logo"><img src="http://www.freeiconspng.com/uploads/shark-icon-png-4.png"></li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}Admin{{/link-to}}</li>
  </ul>
</nav> -->
