<h2>Question:</h2>
<p> {{question.content}}- {{question.author}} ({{question.tag}})</p>
<p>**{{question.note}}</p>

{{#link-to 'update' question.id}}
<button class="btn waves-effect waves-light">Edit/Delete Question</button>{{/link-to}}
