* {
  box-sizing: border-box;
}


nav.fixed {
 background: teal;
 padding:20px;
 height:100px;
 width: 100%;
 margin: 0 auto;
 img {
   width: 70px;
 }
 ul {
   width: 55%;
   display: flex;
   list-style: none;
   align-items: center;
   justify-content: space-between;
   li {
     margin: 0 20px;
   }
   a {
     transition: all ease-in-out 200ms;
     text-decoration: none;
     color: black;
     font-family: sans-serif;
     &:hover {
       cursor: pointer;
       color: grey;
     }
   }
 }
}

.all-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .ember-view {
    margin: 1%;
    width: 48%;
    .question-tile {
      margin-bottom: 50px;
      position: relative;
      a {
        text-decoration: none;
        color: black;
        font-size: 0.8em;
      }
    }
  }
}
